{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row mx-auto">
  {% for destination in destinations %}
  
	<div class="card border-ligh text-dark mx-auto mb-3 card-group" style="max-width: 540px;">
	  <div class="row no-gutters">
	    <div class="col-sm-4 col-md-4">
	    	<a href="{% url 'destination-detail' destination.id %}">
	      <img src="{{destination.pretty_picture.url}}" class="card-img m-4 p-0">
	    </div>
	    <div class="col-sm-8 col-md-8 p-3 m-auto">
	      <div class="card-body">
	        <h5 class="card-title">{{destination.name}}</h5>
   			</a>
	        <p class="card-text">{{destination.activities}}</p>
	      </div>
	    </div>
	  </div>
	</div>
  {% endfor %}
</div>
{% endblock content %}



